@font-face {
    font-family: 'Sheeesh';
    src: url('./font/TitilliumWeb-Regular.ttf') format('truetype');
}
table{
    border: 2px solid black;
    margin: auto;
}

table, th,td,tr{
    border: 1px solid black;
    text-align: center;

}
b{
   font-family: monospace;
    background-color: gray;
} 

h1, h2, .list{
    text-align: center;
    font-family: 'Sheeesh';
}
ul{
    display: inline-block;
    text-align: left;
}
body{
    background-color: #f5f5f5;
    
}
a{
    color: black;
}
thead{
    background-color: #FAF0E6;
    font-family: 'Sheeesh';
}